<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container my-5">

  <footer class="bg-dark text-center text-lg-start text-white">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row my-4">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">

          <div class="rounded-circle bg-white shadow-1-strong d-flex align-items-center justify-content-center mb-4 mx-auto" style="width: 150px; height: 150px;">
            <img src="https://cdn-icons-png.flaticon.com/512/6774/6774898.png" height="70" alt=""
                 loading="lazy" />
          </div>

          <p class="text-center">😍Esto es Delicias Panamá!🤩</p>

          <ul class="list-unstyled d-flex flex-row justify-content-center">
            <li>
              <a class="text-white px-2" href="#!">
                <i class="fab fa-facebook-square"></i>
              </a>
            </li>
            <li>
              <a class="text-white px-2" href="#!">
                <i class="fab fa-instagram"></i>
              </a>
            </li>
            <li>
              <a class="text-white ps-2" href="#!">
                <i class="fab fa-youtube"></i>
              </a>
            </li>
          </ul>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4">Sucursales</h5>

          <ul class="list-unstyled">
            <li class="mb-2">
              <a href="#!" class="text-white"><i class="fas fa-paw pe-3"></i>Panamá Oeste</a>
            </li>
            <li class="mb-2">
              <a href="#!" class="text-white"><i class="fas fa-paw pe-3"></i>Chiriquí</a>
            </li>
            <li class="mb-2">
              <a href="#!" class="text-white"><i class="fas fa-paw pe-3"></i>Colón</a>
            </li>
            <li class="mb-2">
              <a href="#!" class="text-white"><i class="fas fa-paw pe-3"></i>Cocle</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4">Información</h5>

          <ul class="list-unstyled">
            <li class="mb-2">
              <a href="" class="text-white"><i class="fas fa-paw pe-3"></i>información General</a>
            </li>
            <li class="mb-2">
              <a href="" class="text-white"><i class="fas fa-paw pe-3"></i>Sobre Delicias Panamá</a>
            </li>
            <li class="mb-2">
              <a href="" class="text-white"><i class="fas fa-paw pe-3"></i>Somos los mejores</a>
            </li>
            <li class="mb-2">
              <a href="" class="text-white"><i class="fas fa-paw pe-3"></i>Trabajos</a>
            </li>
            <li class="mb-2">
              <a href="" class="text-white"><i class="fas fa-paw pe-3"></i>Tendencia</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4">Contáctanos</h5>

          <ul class="list-unstyled">
            <li>
              <p><i class="fas fa-map-marker-alt pe-2"></i>San fracisco, Calle 59, Panamá</p>
            </li>
            <li>
              <p><i class="fas fa-phone pe-2"></i>+507 68878960</p>
            </li>
            <li>
              <p><i class="fas fa-envelope pe-2 mb-0"></i>decilicas@panama.com</p>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(2, 3, 0, 0.2)">
      © 2022 Copyright:
      <a class="text-white" href="/">Inicio</a>
    </div>
    <!-- Copyright -->
  </footer>

</div>
<!-- End of .container -->