<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">Menú Delicias Panamá
    <img src="https://cdn-icons-png.flaticon.com/512/6774/6774898.png" height="70" alt=""
                 loading="lazy" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a href="/" class="nav-link">Incio</a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a href="{% url 'tasks_completed' %}" class="nav-link"
            >Ordenes completadas</a
          >
        </li>
        <li class="nav-item">
          <a href="{% url 'tasks' %}" class="nav-link">Ordenes</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'create_task' %}" class="nav-link">Crear Orden</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Salir</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a href="/signin" class="nav-link">Entrar</a>
        </li>
        <li class="nav-item">
          <a href="/signup" class="nav-link">Registrarse</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
